$breakpoints:(
    's':768px,
    'm':992px,
    'l':1260px,
);

$KashmirBlue : #52658F;
$PickledBluewood : #333A56;
$Crusta : #F6882F;
$QuarterSpanishWhite : #F9F5E9;
$Martinique : #333953;

$beige : #f8f4e4;
$pale-blue : #a7b2c6;
$orange : #f88c2c;