#our-products {
    background: $beige;
    padding: 20px 0;
    h3 {
        font-size: 1.2em;
    }
}

#products-slider-container {
    position: relative;
}

#products-slider {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}


#our-products-button {
    // Position/sizing
    margin: auto;
    width: 300px;
    height: 40px;
    display: block;

    // Colours/style
    border-radius: 20px;
    background: $blue;
    color: $beige;
    text-transform: uppercase;
    font-family: $primary-font-stack;
    align-content: center;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.product-image-tile {
    width: fit-content;
    h3 {
        color: $dark-blue;
        padding: 20px 0;
        font-size: 1.5em;
    }
}

.product-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    background: red;
    border: 5px solid $blue;
}


#products-arrow-prev,
#products-arrow-next {
    background: none;
    font-size: 1.8em;
    border: none;
    position: absolute;
    height: 100%;
    i {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: $blue;
        color: $beige;
        align-content: center;
    }
    z-index: 2;
    cursor: pointer;
}
#products-arrow-prev {
    left: 0;
}
#products-arrow-next {
    right: 0;
}
